.restart-button {
  margin: 20px;
}
.control-button {
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}
.inline-legend {
  display: inline-block;
  width: 10px;
  height: 10px;
}
.anneal-region {
  background-color: hsl(303, 100%, 50%);
}
.maxima {
  background-color: hsl(110, 100%, 38%);
}
.unvisitedmaxima {
  background-color: hsl(102, 100%, 56%);
}
.gmra {
  background-color: hsl(110, 100%, 60%);
}
.hill {
  fill: hsl(217, 30%, 70%);
}
.hill-anneal-current-state {
  fill: hsl(303, 100%, 50%);
}
.hill-maxima {
  fill: hsl(110, 100%, 75%);
}
.hill-unvisitedmaxima {
  fill: hsl(110, 100%, 50%);
}
.hill-gmra {
  fill: hsl(110, 25%, 60%);
}
.hill-maxima.hill-anneal-current-state {
  fill: hsl(110, 100%, 85%);
}
.floor {
  fill: hsl(240, 10%, 90%);
  transition: fill 0.5s;
}
.floor.dirty {
  fill: hsl(0, 50%, 50%);
  transition: fill 0.1s;
}
.movesWrapper {
  overflow-y: scroll;
  max-height: 250px;
}
.movesList {
  padding-left: 0;
}
.moves-list-item {
  width: 100%;
}
.waiting-move {}
.done-move {
  color: green;
}

.clickable {
  cursor: pointer;
}
.localization .cell{
  fill : hsla(360, 0%, 90%, 1);
  stroke-width : 1;
  stroke : hsla(360, 0%, 50%, 1);
}
.localization .cell.highlighted{
  fill : hsla(250, 100%, 80%, 1);
}

.localization .cell.blocked {
  fill : hsla(360, 0%, 50%, 1);
  stroke-width : 0;
}
.localization .boundary {
  fill : none;
  stroke : hsla(360, 0%, 60%, 1);
}
.localization .sidePanel1 {
  margin-top: 15%;
}
