.state {
  stroke: white;
}
.state.normal {
  fill: #DDDDDD;
}
.state.terminal {
  fill: #B2B2B2;
}
.policy {
  fill: white;
}
.sv_highlight {
  stroke: white;
}
.sv_highlight.imp {
  fill: blue;
}
.sv_highlight.nor {
  fill: lightskyblue;
}
.state_value_history .bar {
  stroke: white;
  fill-opacity: 0.2;
}
.state_value_history .bar.pos {
  fill: green;
}
.state_value_history .bar.neg {
  fill: red;
}